<div class="place-order container">
    <h1 class="mb-4">Place Your Order</h1>
    <form (submit)="submitOrder()">
      <div class="order-summary mt-4">
        <h2>Order Summary</h2>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let item of cartItems">
            <div class="d-flex align-items-center">
              <div class="product-image">
                <img [src]="item.imageUrl" [alt]="item.name" class="img-thumbnail" style="max-height: 100px; max-width: 100px;">
              </div>
              <div class="flex-grow-1">
                <span class="product-name">{{ item.name }}</span>
                <span class="product-price">Price: ${{ item.price }}</span>
              </div>
              <div class="quantity-control">
                <button type="button" class="btn btn-sm btn-primary" (click)="decreaseQuantity(item)" title="Decrease Quantity">
                  <i class="fas fa-minus"></i>
                </button>
                <span class="quantity">{{ item.quantity || 0 }}</span>
                <button type="button" class="btn btn-sm btn-primary" (click)="increaseQuantity(item)" title="Increase Quantity">
                  <i class="fas fa-plus"></i>
                </button>
              </div>
              <div class="total-price">
                Total Price: ${{ (item.quantity || 0) * item.price }}
              </div>
            </div>
          </li>
        </ul>
        <p class="mt-3">Total Price: ${{ totalOrderPrice }}</p>
      </div>
  
      <button type="submit" class="btn btn-primary mt-4">Place Order</button>
    </form>
  </div>
  