
.cart-container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.header-text {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.cart-items {
  display: grid;
  gap: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.cart-item:hover {
  transform: translateY(-3px);
}

.cart-item-image img {
  max-width: 100px;
  max-height: 100px;
}

.item-details {
  flex: 1;
}

.item-price,
.total-price {
  font-size: 18px;
  color: #333;
}

.quantity-controls {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.item-quantity {
  font-size: 18px;
  margin: 0 10px;
}

.control-icon {
  font-size: 24px;
  color: #ff6600;
  background-color: transparent;
  border: none;
  transition: transform 0.2s;
  cursor: pointer;
}

.control-icon:hover {
  transform: scale(1.2);
}

.remove-button {
  background-color: transparent;
  color: #e44d26;
  cursor: pointer;
}

.cart-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.place-order-button {
  background-color: #e44d26;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-size: 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.place-order-button:hover {
  background-color: #c7320b;
}
.grand-total {
  font-size: 20px;
  text-align: right;
  margin-top: 20px;
  font-weight: bold;
  color: #e53935; 
}

.item-name {
  font-size: 1.5rem; 
}
