<div class="login-container">
  <video class="background-video" loop autoplay muted playsinline>
    <source [src]="backgroundVideo" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <mat-card class="login-card">
    <mat-card-header class="login-header">
      <mat-card-title class="login-title">Welcome Back</mat-card-title>
    </mat-card-header>
    <mat-card-content class="login-content">
      <form #loginForm="ngForm" (ngSubmit)="logIn()">
        <mat-form-field class="login-input">
          <input matInput [(ngModel)]="username" name="username" placeholder="Username" required>
          <mat-error *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.submitted)">
            Username is required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="login-input">
          <input matInput [(ngModel)]="password" name="password" type="password" placeholder="Password" required>
          <mat-error *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.submitted)">
            Password is required
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" class="btnsubmit" type="submit">Log In</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
